@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  box-sizing: border-box;
}

.card {
  text-align: center;
  display: inline-block;
  background: white;
  margin: 20%;
  font-size: 80px;
  height: 380px;
  width: 250px;
  padding: 20px;
  padding-top: 115px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 4px rgba(247, 246, 244, 0.842);
}

.card:before {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card:after {
  position: absolute;
  display: inline-block;
  display: block;
  top: 50px;
  right: 0px;
}

.card.spade:before,
.card.spade:after {
  content: "♠️";
}

.card.club:before,
.card.club:after {
  content: "♣";
}

.card.heart:before,
.card.heart:after {
  content: "♥";
  color: red;
}

.card.diamond:before,
.card.diamond:after {
  text-align: center;
  content: "♦";
  color: red;
}

.card:after {
  bottom: 20px;
  right: 20px;
  transform: rotate(180deg);
}

.card-number {
  font-size: 100px;
  font-weight: bold;
  margin-top: -20px;
}

.btn-pintoresca {
  background-color: #8727c7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
}
#generate-card:hover {
  box-shadow: 2px 2px 4px rgba(247, 246, 244, 0.842);
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  color: rgba(245, 235, 241, 0.808);
  line-height: 1.5;
}
